html 
head 
title =welcome to pug 
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css")
body 
h1 PUG
div 
    table(Class="table")
        thead 
            tr 
                th Name 
                th lastname 
                th Class 
                th Gender 
        tbody 
            each stud in students
                tr 
                    th=stud.firstname 
                    th=stud.lastname
                    th=stud.class 
                    th=stud.gender 
